.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
  "width" 100;
}
/* shared styles */
.text-primary{
    color: #0D1321;
}
.section-title{
    font-size: 32px;
    font-weight: bold;
    color: #0D1321;
}

.btn-primary{
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    color: #0D1321;
    padding: 18px 24px;
    border-radius: 8px;
    border-color: #0D1321;
}
/* header */
.bg-img{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    }
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 200px;
    position: 1000px 580px
}
.nav-title{
    font-weight: 900;
    font-size: 24px;
}

nav ul a{
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
}

/* banner styles */
.banner-content{
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    color: #0D1321;

}
.banner-description{
    font-weight: 100;
    font-size: 16px;
}
.banner-dev-pic{
    width: 240px;
}
.banner{
    display: grid;
    place-items: center;
    justify-content: space-between;
    margin: 0 200px 0 200px;
}
.black-btn-primary{
    background-color: #0D1321;
    font-weight: medium;
    font-size: 18px;
    color: #ffffff;
    padding: 18px 24px;
    border-radius: 8px;
}